<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: aquamarine;">
    <center> <h1> SA T-20</h1>
        <h2 style="background-color: brown;">SOUTHAFRICA T-20 LEAGUE</h2>
        <p style="font-size: 30px;" align="justify">&nbsp &nbspSA 20 is a Twenty20 franchise cricket tournament in South Africa, organised by Cricket South Africa (CSA) and first contested in 2023.[1][2] It is contested by six teams based in cities around the country. The first winners of the tournament were Sunrisers Eastern Cape.<br></p>
        <p style="font-size: 30px;" align="justify">&nbsp &nbspCricket South Africa established the franchise T20 Global League in 2017. The inaugural season was deferred by a year due to the lack of a broadcast deal and title sponsor and in June 2018 was replaced by the Mzansi Super League, a league featuring six CSA-owned teams.[5] Both the leagues became unsuccessful. The MSL ran for only two seasons, the 2020 and 2021 editions being cancelled due to the COVID 19 pandemic.<br></p>
        <p style="font-size: 30px;" align="justify">&nbsp &nbspSA20 was established by CSA in 2022 through a newly formed entity, Africa Cricket Development (Pty) Limited (ACD). CSA is the majority stakeholder in ACD with a 50% share, while broadcaster SuperSport has a 30% share and former Indian Premier League (IPL) Chief Operating Officer Sundar Raman, the remaining 20%. All six of the teams were bought by franchises from the IPL.<br></p>
        <p style="font-size: 30px;" align="justify">&nbsp &nbspn July 2022, CSA announced that the One Day International series against Australia due to be played in January 2023 would be cancelled in order for SA20 to go ahead.[9]

            In August 2022, Graeme Smith was announced as the commissioner for the tournament.[10] Later in the month, the marquee players for the first season were announced.[3]<br></p>
        <a href="{% url 'india:ipl' %}">GO TO IPL PAGE</a><br>
            <a href="{% url 'india:bcci' %}">GO TO BCCI PAGE</a><br>
            <a href="{% url 'sa:south' %}">GO TO SOUTHAFRICA PAGE</a><br>
        </center>
</body>
</html>