<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(15, 174, 223);">
    <center> <h1> SOUTHAFRICA</h1>
        <h2 style="background-color: chartreuse;">Cricket South Africa</h2>
        <p style="font-size: 30px;" align='justify'>&nbsp &nbspCricket South Africa (CSA) is the governing body for both professional and amateur cricket in South Africa. In 1991, the separate South African Cricket Union and the South African Cricket Board merged to form the United Cricket Board of South Africa (UCB), ending enforced racial separation governance in South African cricket.<br></p>
        
        <p style="font-size: 30px;" align='justify'>&nbsp &nbspCricket South Africa was formed in 2002, and initially ran parallel to the UCB, before becoming the sole governing body in 2008. As an affiliate of the South African Sports Confederation and Olympic Committee (SASCOC), and a full member of the International Cricket Council (ICC), CSA administers all levels of cricket in South Africa, including the national teams in all three formats for both men and women.<br></p>
        <p style="font-size: 30px;" align='justify'>&nbsp &nbspOrganised cricket has been taking place in South Africa since the British first introduced the sport in the 1880s. England were the first side to tour South Africa in 1888-89, playing their first Test match at Port Elizabeth and becoming the third Test playing nation after England and Australia.[5]<br></p>
        <p style="font-size: 30px;" align='justify'>&nbsp &nbspSouth Africa’s expulsion from international cricket, a number of different organisations ran domestic cricket depending on the various racial groups. The South African Cricket Association (SACA) administered white players, with the South African Cricket Board of Control (SACBOC) and the South African African Cricket Board (SAACB) administrating the different non-white racial groups.<br></p>
        
        <a style="color: rgb(164, 32, 32);" href="{% url 'india:ipl' %}">GO IPL PAGE</a><br>
        <a style="color: rgb(164, 32, 32);" href="{%  url 'india:bcci' %}">GO TO  BCCI PAGE</a><br>
        <a style="color: rgb(164, 32, 32);" href="{% url 'sa:saca' %}">GO TO SA T-20 PAGE</a><br>

        </center>
</body>
</html>